# SPDX-FileCopyrightText: 2026 The MCUHome Contributors
# SPDX-License-Identifier: Apache-2.0

* text=auto eol=lf

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.bin binary
*.hex -text
